/*-----------Header-----------*/

header {
  text-align: center;
  font-family: "Sofia", Arial, sans-serif;
}

header > h2 {
  margin: 10px 0;
}

header > h2 > a {
  text-decoration: none;
  color: black;
}

/*-----------Navigation-----------*/

nav {
  background-color: #72ade6;
  height: 46px;
  box-shadow: 0px 3px 8px lightgrey;
}

nav > ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline;
  font-size: 1.1em;
  margin: 0 20px;
}

#home_icon {
  padding-top: 13px;
  padding-bottom: 13px;
} 

.navLink {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin-top: -5px;
}

.navLink:hover {
  color: #FFFFFF;
}

/* how to style a nav link that is active? */

/*-------Work Samples Dropdown Menu-------*/

/* Code modified from a W3Schools example: 
   https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 lightgrey;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: #8b8888;
  color: white;
}

.dropdown:hover #work_btn {
  color: #FFFFFF;
}

/*-----------Basic Selectors Inside Body-----------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, nav, footer {
  font-family: "Be Vietnam", Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  color: #257cd1;
  margin-top: 0px;
}

main {
  margin: 0 150px; /* better to set max-width then set margins to auto? */
}

footer {
  text-align: center;
  padding: 12px 0;
  background-color: #8b8888;
  color: white;
}

/*-----------Specific Classes/ID's-----------*/

#print_notice {
  display: none;
}

.twoColLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; not sure if I like this better or not */
}


.twoColItem {
  margin-bottom: 30px;
  width: 560px;
}

.twoColItem img {
  width: 550px;
}


/*-----------Index.html-----------*/

.goalText {
  font-size: 1.2em;
}

/*-----------About.html-----------*/
figure {
  margin: 0;
}

.spacedList {
  line-height: 1.5em;
}

/*-----------Photography.html-----------*/

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Add space between rows of images */
.galFigures {
  margin-bottom: 50px;
}

/* Add space between image and caption */
.galFigures img {
  padding-bottom: 5px;
}

/* videography.html */

.vidFig {
  margin-bottom: 30px;
  width: 580px;
}

