/*-----------------Header-----------------*/

header {
  text-align: center;
}

#web_title {
  margin: 10px 0;
  font-family: "Sofia", Arial, sans-serif;
}

header > h2 > a {
  text-decoration: none;
  color: #000000;
}

/*-----------------Navigation-----------------*/

nav {
  background-color: #72ade6;
  height: 46px;
  box-shadow: 0px 3px 8px #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#home_icon {
  padding-top: 13px;
  padding-bottom: 13px;
} 

.navLink {
  display: inline;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  margin: 0 20px;
}

.navLink:hover, .navLink:focus {
  color: #FFFFFF;
}

/*-------Work Samples Dropdown Menu-------*/

/* Code modified from a W3Schools example: 
   https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin: 0 20px;
  box-shadow: 0 8px 16px 0 #d3d3d3;
}

.dropdownContent a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: #8b8888;
  color: #FFFFFF;
}

.dropdown:hover #work_btn {
  color: #FFFFFF;
}


/*-----------------Basic Selectors in Body-----------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, nav, footer {
  font-family: "Poppins", Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  color: #257cd1;
  margin-top: 0px;
}

main {
  margin: 0 150px; /* better to set max-width then set margins to auto? */
}

footer {
  text-align: center;
  padding: 12px 0;
  background-color: #8b8888;
  color: #FFFFFF;
}


/*-----------------Specific Classes/ID's-----------------*/

#print_notice {
  display: none;
}

.twoColLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; not sure if I like this better or not */
}

.twoColItem {
  margin-bottom: 30px;
  width: 560px;
}

.twoColItem img {
  width: 560px;
}

.printAdd {
  display: none; /* items to display only when in print mode */
}


/*-----------------Index.html-----------------*/

.goalText {
  font-size: 1.2em;
}

.link {
  text-decoration: none;
  color: #257cd1;
}

.link:hover {
  color: #8b8888;
  text-decoration: underline;
}

#link_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.workSample {
  width: 320px;
  margin: 30px;
}

.workSample a {
  text-decoration: none;
  color: #000000;
}

.workSample a:hover {
  color: #257cd1;
}

.workSample img {
  width: 320px;
}

.workSample img:hover {
  opacity: 0.5;
}


/*-----------------About.html-----------------*/

figure {
  margin: 0;
}

.spacedList {
  line-height: 1.5em;
}


/*-----------------Resume.html-----------------*/

#resume_fig {
  margin-bottom: 50px;
}

#resume_fig iframe {
  width: 100%;
  height: 800px;
  margin-bottom: 10px;
}

#language_table th {
  color: #257cd1;
  width: 200px;
}

#language_table td {
  text-align: center;
}

#language_graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteContainer {
  margin: 20px 0;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.quoteContainer p {
  padding: 5px 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.2em;
  color: #257cd1;
  font-weight: bold;
  line-height: 2em;
}

.quoteAuthor {
  text-align: center;
}

#code_img {
  width: 400px;
  padding-bottom: 10px;
}


/*-----------------Contact.html-----------------*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  border: 2px solid #8b8888;
  border-radius: 10px;
  box-shadow: 6px 6px 16px 0 #d3d3d3;
  padding: 30px 0;
}

.textboxesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.textbox {
  width: 160px;
}

.textbox, #textarea {
  padding: 5px;
  margin: 15px;
  border: 2px solid #257cd1;
  border-radius: 5px;
}

#textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  height: 100px;
  width: 774px;
}

#submit_button {
  margin: 10px;
  width: 200px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #8b8888;
  color: #FFFFFF;
  font-size: 1.1em;
}

#submit_button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

#contact_fig {
  text-align: center;
  margin: 50px;
}

#contact_fig img {
  width: 800px;
  padding: 10px;
}


/*-----------------Photography.html-----------------*/

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galFigures {
  margin-bottom: 50px; /* Add space between rows of images */
}

.galFigures img {
  padding-bottom: 10px; /* Add space between image and caption */
}


/*-----------------Videography.html-----------------*/

.vidFig {
  margin-bottom: 30px;
  width: 580px;
}


/*-----------------Graphics.html-----------------*/

.graphicsFig {
  margin-bottom: 30px;
  width: 580px;
}

.graphicsFig img {
  width: 580px;
}



